.env
.env.development
.env.test
.env.production
/node_modules
/logs/
.idea
# Ignorer tout le contenu du dossier uploads
public/uploads/
# Mais garder le dossier uploads lui-même
!public/
uploads/products/
/.idea
/coverage
